// varibael bawaan boostrap

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  sl: 640px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxml: 1500px,
  xxxl: 1920px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
  10: $spacer * 10,
);

// custom color
$orange: #f18825;
$blue: #2b3dec;
$gray-dark: #737b7d;
$gray-light: #f4f5f4;
$gray-black: #272929;
$footer-black: #373f41;
$nav-opa-blue: rgba(243, 244, 255, 0.06);

$btn-border-radius: 0px;
$navbar-dark-color: rgba(55, 63, 65, 0.4);
$navbar-dark-hover-color: rgba(rgb(43, 61, 236), 1);
$navbar-dark-active-color: rgb(43, 61, 236);
$navbar-padding-y: 20px;
$input-border-radius: 0px;
$input-padding-y: 8px;
