@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@400;700;900&display=swap");

header {
  top: 0;
}

body {
  font-family: "Mulish";
  scroll-behavior: smooth;
  padding-top: 80px;
}

.fw-900 {
  font-weight: 900;
  font-size: 40px;
}

.foot-description-sec {
  width: 100%;
  height: 348px;
  background: linear-gradient(180deg, #f18825 0%, #f46565 100%);
}

.foot-company-sec {
  height: 64px;
  background-color: #373f41;
  color: #ffff;
}

@include media-breakpoint-down(xs) {
  .fs-12 {
    font-size: 22pt;
  }

  .fs-11 {
    font-size: 11pt;
  }

  #description-thum-contact {
    width: 100%;
  }
}

// breakpoint 640
@include media-breakpoint-up(sl) {
  .fs-12 {
    font-size: 34pt;
  }

  .fs-11 {
    font-size: 12pt;
  }

  #description-thum-contact {
    width: 100%;
  }
}

// breakpoint 992
@include media-breakpoint-up(lg) {
  .fs-12 {
    font-size: 34pt;
  }

  .fs-11 {
    font-size: 12pt;
  }

  #description-thum-contact {
    width: 80%;
  }
}

// breakpoint 1500
@include media-breakpoint-up(xxml) {
  .fs-12 {
    font-size: 34pt;
  }

  .fs-11 {
    font-size: 12pt;
  }
}

// breakpoint 1920
@include media-breakpoint-up(xxxl) {
  .fs-12 {
    font-size: 34pt;
  }

  .fs-11 {
    font-size: 12pt;
  }
}

/* Chrome, Safari, Edge, Opera */
#txt-phone::-webkit-outer-spin-button,
#txt-phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#txt-phone {
  -moz-appearance: textfield;
}
